<div
  class="sticky top-0 z-30 backdrop-blur-md opacity-1 pt-0 lg:opacity-0 lg:hidden"
>
  <h1 class="p-4 text-2xl text-yellow-500">About</h1>
</div>
<div class="px-4 lg:px-0">
  <p class="text-pretty mb-2">
    <span class="text-yellow-400"
      >A driven and highly motivated individual with a passion for programming</span
    >, I have consistently pursued self-improvement throughout my journey.
  </p>
  <p class="text-pretty mb-2">
    Engaging with the world of development since the age of 13, <span
      class="text-yellow-400"
      >I've cultivated over six years of professional expertise</span
    > in both front-end and back-end development.
  </p>
  <p class="text-pretty mb-2">
    Eager to continuously learn and embrace new technologies, <span
      class="text-yellow-400"
      >I am now seeking opportunities to further master my skills</span
    >, <span class="text-yellow-400">tackle fresh challenges</span>, and <span
      class="text-yellow-400">enhance my coding techniques</span
    >.
  </p>
  <p class="text-pretty mb-2">
    Known for <span class="text-yellow-400"
      >my ability to adapt to any situation</span
    >, I am particularly <span class="text-yellow-400"
      >interested in joining a collaborative team</span
    >
    that shares my dedication to growth and achievement.
  </p>
</div>
