<header id="header-nav" class="fixed w-full z-1">
    <nav class="max-w-screen md:max-w-[800px] mx-auto">
        <div
            class="font-medium flex flex-row justify-around p-2 md:p-4 rounded-lg"
        >
            <a
                class="block py-1 px-2 text-[#f72585]/75 hover:text-[#f72585] hover:bg-[#f72585]/15 transition-all rounded bg-transpare uppercase"
                href="#home">Home</a
            >
            <a
                class="block py-1 px-2 text-[#f72585]/75 hover:text-[#f72585] hover:bg-[#f72585]/15 transition-all rounded bg-transpare uppercase"
                href="#experiencie">Experience</a
            >
            <a
                class="block py-1 px-2 text-[#f72585]/75 hover:text-[#f72585] hover:bg-[#f72585]/15 transition-all rounded bg-transpare uppercase"
                href="#projects">Projects</a
            >
            <a
                class="block py-1 px-2 text-[#f72585]/75 hover:text-[#f72585] hover:bg-[#f72585]/15 transition-all rounded bg-transpare uppercase"
                href="#contact">Contact</a
            >
        </div>
    </nav>
</header>
